<div class="user-container" fxLayout="column" fxLayoutAlign="start start">
  <h1>GitHub User Details</h1>
  <div>
    <div fxFlex>Name:</div>
    <div fxFlex>{{data.data.name}}</div>
  </div>


  <div>Company: {{data.data.company}}</div>
  <div>Location: {{data.data.location}}</div>
  <div>Bio: {{data.data.bio}}</div>
  <div>Twitter Name: {{data.data.twitter_username}}</div>
  <div>Public Repos: {{data.data.public_repos}}</div>
  <div>Public Gists: {{data.data.public_gists}}</div>
  <div>Followers: {{data.data.followers}}</div>
  <div>Following: {{data.data. following}}</div>
</div>