<div class="mat-elevation-z8">
  <h1 fxLayout="row" fxLayoutAlign="center center">Total records returned:{{resultsLength}}</h1>
  <div class="search">
    <mat-form-field appearance="standard">
      <mat-label>Search Users</mat-label>
      <input #search matInput type="text">
    </mat-form-field>
    <button class="search__button" mat-stroked-button (click)="onSearch(search.value)">Search</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div>
    <mat-table [dataSource]="data" matSort matSortActive="login" matSortDisableClear matSortDirection="desc">

      <!-- login Column -->
      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef>Users Login Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.login}}</mat-cell>
      </ng-container>

      <!-- avatar Column -->
      <ng-container matColumnDef="avatar">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"><img width="50" height="50" [src]="row.avatar_url"></mat-cell>
      </ng-container>

      <!-- type Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
      </ng-container>

      <!-- url Column -->
      <ng-container matColumnDef="url">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Users GitHub Page
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"><a href="{{row.html_url}}" target="_blank">{{row.login}} GitHub
            home
            page</a>
        </mat-cell>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Action
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
          <button mat-stroked-button (click)="more(row)">More</button>
        </mat-cell>
      </ng-container>

      <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>